.mContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 3rem 0;
  width: 90%;
}

.mission-container .mission-l {
  margin: 1rem 0 1rem 0;
  color: var(--grey);
}

.mission-container .mission-l h6 {
  font-size: 1.2rem;
}

.mission-container .mission-l h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

.mission-container .mission-l p {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: justify;
  margin-right: 3rem;
}

.mission-container .mission-l .m-btn {
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  color: var(--white);
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: var(--main);
}

.mission-container .mission-r {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.mission-container .mission-r .m-box {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
  height: 13.5rem;
  width: 16rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--main);
  overflow: hidden;
}

.mission-container .mission-r .m-box h4 {
  font-size: 1rem;
  text-align: center;
  margin: -1rem 0 0 0;
  padding: 0.5rem 0 0.5rem 0;
}

.mission-container .mission-r .m-box img {
  width: 14rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.mission-container .mission-r .m-box p {
  font-size: 1rem;
}

.vision-h {
  margin: 1rem 0 -1rem 0;
  font-size: 1.2rem;
}

.vision-p {
  margin: -2rem 0 0 0;
}

@media screen and (min-width: 220px) and (max-width: 600px) {
  .mission-container {
    flex-direction: column;
  }

  .mission-container .mission-r {
    flex-direction: column;
    width: 100%;
  }

  .mission-container .mission-r .m-box {
    width: 100%;
    height: auto;
  }

  .mission-container .mission-r .m-box img {
    width: 100%;
  }
}
